.dataTables_paginate a {
    text-decoration: none;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: calc(2.25rem + 8px);
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ebedf2;
    border-radius: 0.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-selection__arrow {
    top: 8px !important;
}

.modal .dropify-wrapper {
    height: 150px;
}

/* .dropify-wrapper .dropify-message p {
    display: none;
} */

.required {
    color: red;
}

.error {
    border: 1px solid #e74c3c !important;
    background-position: center bottom, center calc(100% - 0px) !important;
}

select.error+span {
    border: 1px solid #e74c3c !important;
    border-radius: .25rem;
}

checkbox.error+span {
    border: 1px solid #e74c3c !important;
    border-radius: 4px;
}

.ajax-submit label.error {
    display: none !important;
}

label.error {
    color: #B94A48;
    margin-top: 2px;
}

.jq-toast-wrap .jq-icon-success {
    background-color: #1bcfb4;
}

.jq-icon-success>.jq-toast-loader {
    transition: width 1.0s ease-in !important;
    background: #f96868 !important;
}

.jq-toast-wrap .jq-icon-error {
    background-color: #fe7c96;
}

.jq-icon-error>.jq-toast-loader {
    transition: width 1.0s ease-in !important;
    background: #f2a654 !important;
}

.breadcrumb-item+.breadcrumb-item::before{
    content: "\f1c4";
    font-family: Flaticon;
}

.params-card {
    border: 1px solid transparent;
    border-color: #ebedf2 #ebedf2 #ebedf2;
    overflow: hidden;
    padding: 15px;
    border-radius: 4px;
}

.logo-header .logo{
    height: 65px;
}

.logo-header .logo .navbar-brand{
    height: 100%;
}

#main_modal .modal-body{
    padding: 20px 30px 30px 30px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .pace-inactive {
    display: none;
  }
  .pace .pace-progress {
    background: #0d6deb;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
  }

  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
}
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #1761fd;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table tr td .btn{
    margin: 5px;
}

.img-lg {
    width: 92px !important;
    height: 92px !important;
  }
  
  .img-sm {
    width: 43px !important;
    height: 43px !important;
  }
  
  .img-xs {
    width: 37px !important;
    height: 37px !important;
  }
  
  .img-ss {
    width: 26px !important;
    height: 26px !important;
  }

.table thead th{
    border-bottom-width: 1px;
}

.alert p{
    margin-bottom: 0px;
}

.button-link {
    display: block;
    width: 100%;
    padding: 6px 24px;
    clear: both;
    font-weight: 400;
    color: #1c2d41;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}
#select-directory{
    padding: 8.5px 13px;
}

body{
    overflow-x: hidden;
}

button.dropdown-item{
    cursor: pointer;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.50rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #475F7B;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.overflow-hidden{
    overflow: hidden;
}

hr{
    margin: .5rem!important;
}

body {
    margin-bottom: 6em;
}

.treeview ul {
    list-style: none;
    padding-left: 32px;
}

.treeview ul li {
    padding: 50px 0px 0px 35px;
    position: relative;
}

.treeview ul li:before {
    content: "";
    position: absolute;
    top: -26px;
    left: -31px;
    border-left: 2px dashed #a2a5b5;
    width: 1px;
    height: 100%;
}

.treeview ul li:after {
    content: "";
    position: absolute;
    border-top: 2px dashed #a2a5b5;
    top: 60px;
    left: -30px;
    width: 180px;
}

.treeview ul li:last-child:before {
    top: -22px;
    height: 80px;
}

.treeview>ul>li>ul>li {
    padding-left: 180px;
    padding-top: 40px;
}

.treeview>ul ul ul li {
    padding-left: 180px;
    padding-top: 40px;
}

.treeview>ul>li:after,
.treeview>ul>li:last-child:before {
    content: unset;
}

.treeview>ul>li:before {
    top: 90px;
    left: 36px;
}

.treeview>ul>li:not(:last-child)>ul>li:before {
    content: unset;
}

.treeview>ul>li>.treeview__level:before {
    height: 60px;
    width: 60px;
    top: -9.5px;
    background-color: #54a6d9;
    border: 7.5px solid #d5e9f6;
    font-size: 22px;
}

.treeview__level {
    padding: 7px;
    padding-left: 42.5px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #e3e5ef;
    position: relative;
    z-index: 1;
}

.treeview__level:before {
    content: attr(data-level);
    position: absolute;
    left: -27.5px;
    top: -6.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 7.5px solid #eef6d5;
    background-color: #bada55;
    color: #fff;
    font-size: 20px;
}

.treeview__level-btns {
    margin-left: 15px;
    display: inline-block;
    position: relative;
}

.treeview__level .level-same,
.treeview__level .level-sub {
    position: absolute;
    display: none;
    transition: opacity 250ms cubic-bezier(0.7, 0, 0.3, 1);
}

.treeview__level .level-same.in,
.treeview__level .level-sub.in {
    display: block;
}

.treeview__level .level-same.in .btn-info,
.treeview__level .level-sub.in .btn-info {
    background-color: #faeaea;
    color: #da5555;
}

.treeview__level .level-same {
    top: 0;
    left: 45px;
}

.treeview__level .level-sub {
    top: 42px;
    left: 0px;
}

.treeview__level .level-remove {
    display: none;
}

.treeview__level.selected {
    background-color: #f9f9fb;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.treeview__level.selected .level-remove {
    display: inline-block;
}

.treeview__level.selected .level-add {
    display: none;
}

.treeview__level.selected .level-same,
.treeview__level.selected .level-sub {
    display: none;
}

.treeview--mapview ul {
    justify-content: center;
    display: flex;
}

.treeview--mapview ul li:before {
    content: unset;
}

.treeview--mapview ul li:after {
    content: unset;
}

.rate-table input, .rate-table select{
    height: 40px !important;
}

.table > tbody > tr > td, .table > tbody > tr > th{
    padding: 8px 25px !important;
}
/*     Invoices     */
.card-invoice .invoice-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
  .card-invoice .invoice-header .invoice-title {
    font-size: 27px;
    font-weight: 400; }
  .card-invoice .invoice-header .invoice-logo {
    width: 150px;
    display: flex;
    align-items: center; }
    .card-invoice .invoice-header .invoice-logo img {
      width: 100%; }
.card-invoice .sub {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600; }
.card-invoice .info-invoice {
  padding-top: 15px;
  padding-bottom: 15px; }
  .card-invoice .info-invoice p {
    font-size: 13px; }
.card-invoice .invoice-desc {
  text-align: right;
  font-size: 13px; }
.card-invoice .invoice-detail {
  width: 100%;
  display: block; }
  .card-invoice .invoice-detail .invoice-top .title {
    font-size: 20px; }
.card-invoice .transfer-to .sub {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600; }
.card-invoice .transfer-to .account-transfer > div span:first-child {
  font-weight: 600;
  font-size: 13px; }
.card-invoice .transfer-to .account-transfer > div span:last-child {
  font-size: 13px;
  float: right; }
.card-invoice .transfer-total {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .card-invoice .transfer-total .sub {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600; }
  .card-invoice .transfer-total .price {
    font-size: 28px;
    color: #1572E8;
    padding: 7px 0;
    font-weight: 600; }
  .card-invoice .transfer-total span {
    font-weight: 600;
    font-size: 13px; }
.card-invoice .card-body {
  padding: 0;
  border: 0px !important;
  width: 75%;
  margin: auto; }
.card-invoice .card-header {
  padding: 50px 0px 20px;
  border: 0px !important;
  width: 75%;
  margin: auto; }
.card-invoice .card-footer {
  padding: 5px 0 50px;
  border: 0px !important;
  width: 75%;
  margin: auto; }

.label-info {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
    background: #4faecd !important;
}

.bootstrap-tagsinput{
  display: block;
      padding: 7px 6px;
}

.bootstrap-switch-large{
    width: 200px;
}

.bootstrap-switch-handle-on, .bootstrap-switch-handle-off{
  width: 90px;
}

.app-tabs .nav-item{
    text-align: center;
    width:  100px;
}
.form-check-label{
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ca2222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 40%;
  right: 5%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
right: -11px;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}